h1{
    font-size:  60px;
    margin-bottom: 25px;
}

h2{
    font-size: 50px;
}

h1,h2{
    font-weight: 800;
    margin-top: 10px;
}

.light,h1,h2{
    font-family: 'Roboto', sans-serif;
}

.light{
    font-weight: 100;
}

.bold{
    font-weight: 800;
}

#top-section{
    height:777px;
    width:100%;
    background-color: #2D9DFF;
    color:#fcfcfc;
    overflow: hidden;
}

#top-section .description a{
    text-decoration: none;
}

#add-to{
    height: 50px;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 800;
    border: 4px solid #fcfcfc;
    border-radius: 4px;
}

#add-to:hover{
    background-color: #fcfcfc;
    color:#2D9DFF;
}

.blue,.white{
    height:685px;
    width:100%;
    overflow: hidden;
}

.blue{
    background-color: #2D9DFF;
    color:#fcfcfc;
}

.white{
    color: #2D9DFF;
    background-color:#fcfcfc;
}


#top-section .description, #top-section .phone,.white .description, .white .phone,.blue .description, .blue .phone{
    margin-top: 80px;
}

#top-section .phone img, .white .phone img,.blue .phone img{
    margin-left: 50px;
}

footer{
    height: 200px;
    background-color: #0077ee;
    text-align: center;
}

p{
    margin:0 auto;
    padding-top: 60px;
    color: #Fcfcfc;
    font-size: 20px;
}

footer p a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 800;
}

#social{
    height: 50px;
    width: 290px;
    margin: 20px auto;
}

#social img{
   margin: 0px 20px;
}

/* medias tablet*/
@media only screen and (max-width: 768px){
    h1{
        font-size:  38px;
    }

    h2{
        font-size: 32px;
    }
    #top-section{
        height:530px;
    }
    #add-to{
        margin: 0 auto;
        display: table;
    }
    .blue,.white{
        height:458px;
    }
    #top-section .description, #top-section .phone,.white .description, .white .phone,.blue .description, .blue .phone{
        margin-top: 50px;
    }
    #top-section .phone img, .white .phone img,.blue .phone img{
        margin: 0px auto;
        display: table;
        width: 273px;
    }
    #top-section .description #logo{
        width: 210px;
    }
    
    
}

/* medias mobile*/
@media only screen and (max-width: 425px){
    h1{
        font-size:  30px;
        text-align: center;
    }

    h2{
        font-size: 25px;
        text-align: center;
    }
    #top-section .description img{
        margin: 0 auto;
        display: table;
    }
    .blue .description img,.white .description img{
        margin: 0 auto;
        display: table;
    }
    #top-section{
        height:909px;
    }
    .blue,.white{
        height:674px;
    }
    #top-section .description, #top-section .phone,.white .description, .white .phone,.blue .description, .blue .phone{
        margin-top: 30px;
    }
    #top-section .phone img, .white .phone img,.blue .phone img{
        margin: 0px auto;
        display: table;
        width: 273px;
    }
    #top-section .description #logo{
        width: 210px;
    } 
}

